// 
//   F O N T S
// 

$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;


// 
//   webfonts
// 

// goolge
//$spptSans: "Open Sans", $sansFontFamily;
//$spptCondensedSans: "Open Sans Condensed", $sansFontFamily;
// $spptHandwritten: 'Satisfy', cursive;

// typekit (Adobe)
$spptSans: "Montserrat", $sansFontFamily;
$spptCondensedSans: "Lato", $sansFontFamily;
$spptHandwritten: "ff-market-web", cursive;



// Open Sans 
.sans {
	font-family: $spptSans;
	font-weight: 400;
	&.thin, .thin { font-weight: 300; }
	&.regular, .regular { font-weight: 400; }
	&.sbold, .sbold { font-weight: 600; }
	&.bold, .bold { font-weight: 700; }
	&.ebold, .ebold { font-weight: 800; }
}
@mixin sansThin {
	// font-family: 'Open Sans', sans-serif;
	font-family: $spptSans;
	font-weight: 300;
}
@mixin sansRegular {
	font-family: $spptSans;
	font-weight: 400;
}
@mixin sansSemi {
	font-family: $spptSans;
	font-weight: 600;
}
@mixin sansBold {
	font-family: $spptSans;
	font-weight: 700;
}


// Open Sans Condensed 
.sansCondensed {
	font-family: $spptCondensedSans;
	font-weight: 300;
	&.thin, .thin { font-weight: 300; }
	&.bold, .bold { font-weight: 700; }
}
@mixin sansCondensedThin {
	font-family: $spptCondensedSans;
	font-weight: 300;
}
@mixin sansCondensedBold {
	font-family: $spptCondensedSans;
	font-weight: 700;
}


// Specials
.handWrittenFont {
	font-family: $spptHandwritten;
	font-weight: 400;
}
@mixin handWrittenFont {
	font-family: $spptHandwritten;
	font-weight: 400;
}



// variable
$smallReadFont: $spptCondensedSans;
$readFont: $spptSans;
$bigFont: $spptSans;
$dekoFont: $spptHandwritten;


// mixin
@mixin smallReadFont { font-family: $smallReadFont; }
@mixin readFont { font-family: $readFont; }
@mixin bigFont { font-family: $bigFont; }
@mixin dekoFont { font-family: $dekoFont; }

.smallReadFont { @include smallReadFont; }
.readFont { @include readFont; }
.bigFont { @include bigFont; }
.dekoFont { @include dekoFont; }









// C S S - F O N T S 

@mixin eingabeText { font-family: $lucida-grande; }

@mixin profileText {
	font-family: $lucida-grande; 
	color: #333;
	font-size: 12px;
	line-height: 20px;
}

@mixin titelText { 
	@include sansSemi;
	font-size: 14px;
	line-height: 20px;
}

@mixin subTextSmall { 
	@include sansRegular;
	font-size: 12px;
	line-height: 20px;
}


// ------------------------------- S C H R I F T G R O E S S E N -------------------------------

$magicDefaultFontSize:    13px;
$magicDefaultLineHight:   18px;


@mixin magicDefaultFont {
  @include readFont;
  font-size: $magicDefaultFontSize;
  line-height: $magicDefaultLineHight;
} // ..



