<div id="app_footer">
  SHYFTPLAN 2014
  <div class="app_footer_links">
    <%= mail_to "service@shyftplan.com", "Kontakt", subject: "Kontakt"%>
    <%=link_to t('imprint'), '#'%>
    <%=link_to t('privacy'), '#'%>
    <%=link_to t('terms'), '#'%>
  </div>
</div>